* {
    box-sizing: border-box;
}

body {
    font-family: 'Kanit', sans-serif;
    margin: 0;
    background-color: #EEEEEE;
    color: #222;
}

/* Wrapper utama */
main {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

/* Header & Nav */
header {
    display: flex;
    justify-content: left; 
    align-items: center;
    padding: 1rem 2rem;
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
    gap: 2rem;
    min-width: 800px;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    flex-wrap: wrap;
    font-family: Jura, sans-serif;
    max-width: 640px; 
    width: 100%;        
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

nav a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
    position: relative;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #00ADB5;
}

nav a.active {
    color: #00ADB5;
    font-weight: bold;
}

/* Summary Section */
.summary-container {
    background-color: #222831;
    border: 2px solid #00ADB5;
    border-radius: 20px;
    padding: 50px 40px;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    max-width: 1000px;
    color: #fff;
}

.summary-logo {
    width: 500px;
    height: auto;
}

.summary-text h1 {
    margin: 0;
    font-size: 60px;
    font-weight: bold;
}

.summary-text h1 span {
    color: #00ADB5;
}

.summary-text p {
    margin: 5px 0 20px 0;
    font-size: 18px;
    color: #ccc;
}

.summary-buttons a {
    text-decoration: none;
    padding: 10px 18px;
    border-radius: 20px;
    font-size: 0.9rem;
    transition: 0.3s ease;
    margin-right: 10px;
    display: inline-block;
}

.article-btn {
    background-color: transparent;
    border: 2px solid #00ADB5;
    color: #00ADB5;
}

.article-btn:hover {
    background-color: #00ADB5;
    color: #fff;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #393E46;
    color: white;
    padding: 2rem;
    border-radius: 20px;
    margin: 2rem auto;
    max-width: 1000px;
    gap: 2rem;
    position: relative;
}

/* Garis pemisah */
footer::before {
    content: "";
    position: absolute;
    top: 15%;
    bottom: 15%;
    left: 50%;
    width: 1px;
    background-color: white;
    transform: translateX(-50%);
}

footer .info, footer .links {
    flex: 1;
    max-width: 45%;
}

footer .links a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.copyright {
    text-align: center;
    font-size: 12px;
    margin: 1rem 0;
    color: #444;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: small;
}
